In [1]:
import mne
import numpy as np
import matplotlib.pyplot as plt
import os
import pandas as pd
import csv

In [4]:
df = pd.read_csv('C:/Users/splaw/OneDrive/Pulpit/dyplom/eegParkinsonCognitiveDisorders/dataset.csv', sep=';')

In [5]:
df

,ID,Plec,Wiek,PD,PD_czas_trwania,Strona_prawa,Strona_lewa,UPDRS,Hoehn-Yahr,LED,MMSE,ACEIII
0,PD129,2,57,1,10,1.0,0.0,42.0,3,555,26.0,NaN
1,PD130,2,70,0,5,0.0,1.0,53.0,2,640,27.0,NaN
2,PD131,1,73,2,14,0.0,0.0,61.0,2,505,23.0,NaN
3,PD132,2,72,1,20,1.0,0.0,51.0,3,1260,NaN,77.0
4,PD133,2,43,0,7,0.0,1.0,43.0,3,1450,27.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
103,PD235,1,69,2,7,1.0,0.0,67.0,4,400,NaN,72.0
104,PD236,2,81,2,11,1.0,1.0,63.0,4,1655,NaN,64.0
105,PD237,1,72,0,22,0.0,1.0,55.0,4,1200,NaN,90.0
106,PD238,2,71,1,12,1.0,0.0,46.0,3,2340,NaN,83.0
107,PD239,1,81,2,15,1.0,0.0,82.0,4,500,NaN,64.0

In [13]:
gk = df.groupby('Plec').size().reset_index(name='liczba osób')

In [14]:
gk

   Plec  Liczba_osob_w_grupie
0     1                    47
1     2                    61